/* Cabeça da pagina */

* {
  margin: 0px;
  padding: 0px;
}

#whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

body {
  margin: 0px;
  padding: 0px;
}


main {
  height: auto;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.logoSite {
  width: 150px;
  height: 150px;
  margin-left: 200px;

}

header li {
  list-style: none;
  display: flex;
  align-items: center;
  z-index: 1;

}

header {
  justify-content: space-between;
  width: 100%;
  position: relative;


}

a {
  color: black;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  color: white;
}

footer {
  margin-bottom: 0px;
  width: 100%;
  height: 552px;
  background-color: #bf2708;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
  position: relative;
}

.icones {
  width: 20px;
  height: 20px;
  align-items: center;
  display: inline;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: #bf2708;
  height: 150px;
  width: 100%;
  position: relative;
  top: 0px;
  z-index: 10;
}

.nav-list li {
  letter-spacing: 2px;
  margin-left: 32px;
  display: inline;
  font-size: 20px;
}

#iconediv {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  position: relative;
  margin-left: 30px;
  margin-top: -10px;
}


#gerar-espaco {
  display: inline;
  width: 0px;
  height: 20px;
}


#div-navegacao {
  margin-right: -200px;
}

.primeiraSection {
  margin-top: 0px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#searchInput {
  width: 300px;
  height: 30px;
  position: absolute;
  margin-top: 0px;
  position: relative;
  margin-left: 0px;
  z-index: 50;
}

.pesquisa {
  background-color: white;
  display: none;
}

#resultado {

  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  z-index: 10;
}

#container-resultado {
  position: absolute;
  flex-direction: column;
  height: 0px;
  margin-top: 50px;
  margin-left: -300px;
}

.resultadoNone {
  display: none;
}

.resultadoAparece {
  display: block;
  margin-top: 0px;
  position: relative;
}

.link-pesquisa {
  display: block;
}

.imagem-pesquisa-novo {
  position: relative;
  margin-top: 25px;
  margin-left: 30px;
  border-radius: 20px;
  height: 80px;
  width: 140px;
}

#lupa {
  cursor: pointer;
}


.nome-pesquisa {
  font-size: 15px;
  position: absolute;
  height: 130px;
  width: 430px;
  line-height: 120px;
  margin-left: -170px;
}

.nome-paragrafo {
  margin-left: 190px;
  font-size: 20px;
  color: black;
}

#menu-amburguer {
  height: 950px;
  display: none;
  margin-right: 0px;
  margin-left: 50%;
  margin-top: 790px;
  width: 50%;
  position: fixed;
  background-color: #CBA075;
  border: 2px solid black;
  z-index: 50;
  flex-direction: column;
}

#cabeça-menu-amburguer {
  background-color: #bf2708;
  width: 100%;
  height: 120px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

#menu-amburguer-logo {
  width: 100px;
  height: 100px;
  margin-left: 6%;
  margin-top: 9px;
}

#titulo-menu-amburguer {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: black;
  margin-top: 47px;
  margin-left: 38px;
}

.material-symbols-outlined {
  margin-top: 44px;
  color: black;
  height: 100px;
  cursor: pointer;
}

.menu-lista {
  border-top: 2px solid #CBA075;
  background-color: #bf2708;
  margin-left: -10px;
  width: 100%;
  height: 100px;
}

.menu-link {
  font-size: 20px;
  margin-left: 20px;
  height: auto;
  position: relative;
  margin-bottom: 20px;
}

.fechar {
  height: 30px;
  margin-top: 42px;
  margin-right: 4%;
}

.icone-menu {
  display: none;
  cursor: pointer;
  height: 25px;
  margin-left: 50px;
  margin-top: -7px;
}

/* Carrossel mostrando as partes principais da pagina */

section {
  display: flex;
  position: relative;
  background-color: black;
}

.carousel-indicators {
  z-index: 1;
}

.carrosselInicial {
  width: 100%;
  height: auto;
}

.carousel-inner .item {
  -webkit-transition: -webkit-transform 2s ease;
  -moz-transition: -moz-transform 2s ease;
  -o-transition: -o-transform 2s ease;
  transition: transform 2s ease;
  height: auto;
  width: 100%;
}

.carroussel-nobres {
  background-color: #25d366;
  width: 100%;
  margin-top: 2000px;
  height: 700px;
}

/* Textos e formatação do carrossel */

#carrossel-Carnes-Nobres {
  width: 600px;
  height: 100px;
  margin-left: -100px;
  margin-top: 200px;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paragarfo-complemento-nobres {
  position: absolute;
  font-size: 25px;
  margin-top: 300px;
  margin-left: -50px;
}

#fundo-carrosel-1 {
  background-color: rgba(0, 0, 0, 0.39);
  margin-left: -400px;
  margin-top: 0px;
  width: 2000;
  height: 800px;
}

#texto-Carnes-Nobres {
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  font-size: 70px;
  color: white;
}

.item {
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.item-exoticas {
  position: relative;
  margin-top: 100vw;
  margin-left: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

}

#carrossel-Carnes-Exoticas {
  border: 2px solid white;
  width: 500px;
  height: 100px;
  margin-left: -20vw;
  margin-top: 3vw;
  z-index: 2;
  position: fixed;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#centralizando-carrossel-exoticas {
  margin-left: 0px;
  margin-top: 0px;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fundo-carrosel-2 {
  background-color: rgba(0, 0, 0, 0.39);
  height: 800px;
  margin-left: -400px;
  margin-top: 0px;
  width: 1900;
  position: relative;
}

#texto-Carnes-Exoticas {
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  font-size: 50px;
  color: white;
}

#paragarfo-complemento-exoticas {
  width: 100vw;
  height: 100px;
  margin-top: 60%;
  z-index: 2;
  position: fixed;
  /* ou position: absolute; */
  /* centraliza verticalmente */
  left: 50%;
  /* centraliza horizontalmente */
  transform: translate(-50%, -50%);
  /* centraliza completamente */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}


#carrossel-entrega {
  font-family: 'Anton', sans-serif;
  font-style: italic;
  color: #CBA075;
  width: 31.8vw;
  height: auto;
  padding: 5px;
  margin-left: 9vw;
  margin-top: 4vw;
  z-index: 2;
  position: fixed;
  /* ou position: absolute; */
  top: 10%;
  /* centraliza verticalmente */
  left: 70%;
  /* centraliza horizontalmente */
  transform: translate(-50%, -50%);
  /* centraliza completamente */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
}

.carousel-caption {
  width: 100%;
  height: 100%;
}

.card-title-1 {
  font-weight: bold;
  color: black;
  font-size: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

#centraliza-carrossel-entrega {
  display: flex;
  align-items: center;
  justify-content: center;

}

#paragrafo-entrega {

  width: 31.8vw;
  height: auto;
  padding: 5px;
  margin-left: 9vw;
  margin-top: 4vw;
  z-index: 2;
  position: fixed;
  /* ou position: absolute; */
  top: 40%;
  /* centraliza verticalmente */
  left: 70%;
  /* centraliza horizontalmente */
  transform: translate(-50%, -50%);
  /* centraliza completamente */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
}

/* section carnes nobre */

#section-Carnes-Nobres {
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  height: auto;
  padding-bottom: 300px;
  padding-top: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#centro {
  width: 100%;
  position: relative;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alinhamento-h2 {
  display: flex;
  align-items: center;
}

#alinhamento-bandeira-nobres {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
}

#bandeira-esquerda {
  width: 80px;
  height: 80px;
  margin: auto;
  z-index: 1;
  margin-right: -15px;
}

#titulo-carnes-nobres {
  background-color: #bf2708;
  width: 500px;
  height: 100px;
  text-align: center;
  margin: auto;
  position: relative;
  color: white;
  font-style: italic;
  font-family: 'Anton', sans-serif;
  font-family: 'PT Serif', serif;
  z-index: 2;
  font-size: 40px;
}

#borda-h2 {
  border: 1px dashed white;
  width: 480px;
  height: 85px;
  margin-left: 10px;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alinhamento-h2 {
  display: flex;
  align-items: center;
}

#bandeira-direita {
  width: 80px;
  height: 80px;
  margin: auto;
  z-index: 1;
  margin-left: -6px;
}

.grid-carnes-nobres {
  width: 100%;
  max-width: 2000px;
  height: auto;
  margin-top: 280px;
  display: grid;
  grid-template-columns: 55% 50%;
}

#container-texte-nobres {
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#card-paragrado-carnes-nobres {
  height: auto;
  width: 90%;
  position: relative;
  margin-left: 80px;
  border: 2px solid white;
  border-radius: 50px;
  background-color: black;
  box-shadow: 10px 10px 100px gray;
  max-width: 1000px;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

#paragrafo-Carnes-Nobres1 {
  margin-top: 0px;
  color: white;
  position: relative;
  font-size: 25px;
  width: auto;
}

#paragrafo-Carnes-Nobres2 {
  margin-top: 10px;
  color: white;
  position: relative;
  font-size: 25px;
  width: auto;
}

#paragrafo-Carnes-Nobres3 {
  margin-top: 10px;
  color: white;
  position: relative;
  font-size: 25px;
  width: auto;
}

#paragrafo-Carnes-Nobres4 {
  margin-top: 10px;
  color: white;
  position: relative;
  font-size: 25px;
  width: auto;
}

#div-carne-flutuando {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  width: 90%;
}

.imagem-carne-flutuando {
  transform: translate(0px);
  animation: float 5s ease-in-out infinite;
  position: absolute;
  z-index: 5;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-50px);
  }

  100% {
    transform: translatey(0px);
  }
}

#champion {
  margin-top: -380px;
  margin-left: 5vw;
}

#pimenta {
  margin-top: 510px;
  margin-left: 25vw;
}

#carne1 {
  margin-top: -100px;
  margin-left: 5vw;
}

#carne2 {
  margin-top: 350px;
  margin-left: 3vw;
}

#carne3 {
  margin-top: 680px;
  margin-left: -10vw;
}

#carne4 {
  margin-top: 900px;
  margin-left: 22vw;
  width: 300px;
  height: 400px;

}

#sal {
  z-index: 5;
  margin-top: -150px;
  margin-left: -10vw;
}

#sal-preto {
  margin-left: 18vw;
  margin-top: -300px;
  width: 300px;

}

#move {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 300px;
}

#container-move {
  width: 100%;
}



.card {
  background-color: #9e2810cb;
  height: auto;
  width: 400px;

}

#move-botao2 {
  margin-right: 45%;
  margin-top: -100px;
}

#move-botao1 {
  margin-top: -100px;
}

.titulo-card-tradicionais {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin-left: 10px;

}

.paragrafo-card-tradicionais {
  color: white;
  padding-bottom: 20px;
  margin-left: 10px;
  font-size: 16px;

}

#paragradoBananinha {
  padding-bottom: 30px;
}

#paragrafoAncho {
  padding-bottom: 10px;
}

.div-homem-porno {
  margin-top: 30px;
  padding-bottom: 20px;
}

#botao-flat-iron {
  margin-top: -10px;
}

#botao-cowboy {
  margin-top: 0px;
}

#botao-picanha {
  margin-top: 0px;
}

#cowboyAngus {
  padding-top: 10px;
  padding-bottom: 22px;
}

#paragrafoCowboyangus {
  padding-bottom: 40px;
}

#picanhaAngus {
  padding-top: 10px;
  padding-bottom: 22px;
}

#paragrafoPicanhaangus {
  padding-bottom: 40px;
}

#denverAngus903 {
  padding-top: 10px;
  padding-bottom: 22px;
}

#paragrafoDenverangus903 {
  padding-bottom: 40px;
}

#botao-denver {
  margin-top: -30px;
}

#fraldinhaAngus {
  padding-top: 10px;
  padding-bottom: 22px;
}

#paragrafoFraldinhaAngus {
  padding-bottom: 25px;
}

#tomahawk-angus {
  padding-bottom: 10px;
}

.botao-bananinha {
  position: relative;
}

/* section carnes exóticas */

#transicao-carnes-nobres {
  background: url(imagens/casa-de-carnes-rosa-banner.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-transicao-carnes {
  margin-left: 10px;
}

#section-cortes-exoticos {
  width: 100%;
  height: auto;
  background-color: #ff4444;
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.exoticas-grid {
  width: 100%;
  max-width: 2000px;
  height: auto;
  margin-top: 280px;
  display: grid;
  grid-template-columns: 50% 50%;

}

.largura-exoticas {
  max-width: 2000px;
  height: auto;
}

.container-texte-exoticas {
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#card-paragrafo-exoticas {
  padding-bottom: 100px;
  padding-top: 90px;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  border: 2px solid white;
  border-radius: 50px;
  background-color: #bf2708;
  box-shadow: 10px 10px 100px gray;
  height: auto;
  width: 95%;
}

#paragrafo-carnes-exoticas-1 {
  color: white;
  position: relative;
  font-size: 25px;
  width: 100%;
}

#paragrafo-carnes-exoticas-2 {
  color: white;
  position: relative;
  font-size: 25px;
  width: 100%;
}

#paragrafo-carnes-exoticas-3 {
  color: white;
  position: relative;
  font-size: 25px;
  width: 100%;
}

#paragrafo-carnes-exoticas-4 {
  color: white;
  position: relative;
  font-size: 25px;
  width: 100%;
}

#homem-segurando-porco {
  position: relative;
  margin-top: -50px;
  height: 1300px;
  width: auto;
  margin-left: -10vw;
}

.div-homem-porno {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid-cars-exoticas {
  width: auto;
  height: auto;
  margin-top: 280px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  align-items: center;
  justify-content: center;


}

.card-exoticas {
  width: 350px;
  height: 580px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: black;
  margin-bottom: 200px;

}



.imagem-carnes-tradicionais {
  text-align: center;
  height: 350px;
}

.imagem-exoticas {
  width: 100%;
  height: 350px;
}

.card-body {
  padding: 20px;
}

.card-title-2 {
  font-weight: bold;
  color: #ff4444;
  font-size: 20px;
  border-bottom: 2px solid #ff4444;
}

.card-text {
  color: white;
}

.button-exoticas {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10%;
  
}

#botao-capivara {
  margin-top: 16%;
}

#botao-jacare {
  margin-top: 16%;
}

#botao-bisteca {
  margin-top: 16%;
}

#botao-coelho {
  margin-top: 16%;
}

#botao-avestruz {
  margin-top: 23%;
}

.section-transicao-exoticas {
  width: 100%;
}

#transicao-exoticas {
  background: url(imagens/fundoexoticas.png) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fundo-transicao-exoticas {
  background-color: rgba(0, 0, 0, 0.39);
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#logo-transicao {
  margin-left: 30px;
  transition: opacity 0.5s ease-in-out;
}

/* section sobre */

#sobre {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#div-sobre {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 200px;
  max-width: 2000px;
  
}

.grid-sobre {
  margin-top: 200px;
  position: relative;
}

#sobre-acougue {
  width: 50%;
  height: 26vw;
  background-color: #bf2708;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 0px;
  float: left;
}


#sobre-delicias-da-carne {
  width: 15vw;
  height: 15vw;
  max-width: 300px;
  max-height: 300px;
}

#paragrafo-acougue {
  width: 50%;
  height: 26vw;
  border-top: 2px solid #bf2708;
  border-right: 2px solid #bf2708;
  border-left: none;
  float: right;
  color: #f5f5f5;
  position: relative;
  text-align: right;
  
}

#titulo-acougue {
  font-size: 1.46vw;
  margin-right: 2.7vw;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  color: #CBA075;
}

#historia-delicias-da-carne-1 {
  font-size: 1vw;
  position: relative;
  margin-right: 2.7vw;
  padding-left: 2.18vw;
}

#historia-delicias-da-carne-2 {
  position: relative;
  font-size: 1vw;
  margin-right: 2.7vw;
  padding-left: 2.18vw;
}

#historia-delicias-da-carne-3 {
  position: relative;
  font-size: 1vw;
  margin-right: 2.7vw;
  padding-left: 2.18vw;
}

#div-sobre-acougue-2 {
  width: 100%;
}

#paragrafo-caminhao {
  position: relative;
  float: left;
  margin-left: 0px;
  width: 50%;
  height: 26.6vw;
  text-align: left;
  color: white;
  font-size: 1.5vw;
  border-left: 2px solid #bf2708;

}

#sobre-entrega-colum{
  position: relative;
  width: 50%;
  height: 26.6vw;
  display: none;
}

#sobre-entrega {
  position: relative;
  width: 50%;
  height: 26.6vw;
  float: right;

}

#sobre-entrega-img {
  width: 100%;
  height: 100%;
  position: relative;
}

#titulo-entregas {
  position: relative;
  margin-top: 7%;
  margin-left: 3vw;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  color: #CBA075;
  font-size: 1.5vw;
}

#paragrafo-entrega-1 {
  margin-left: 3vw;
}

#paragrafo-entrega-caminhao {
  margin-top: 2px;
  position: absolute;
  margin-left: 3vw;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#sua-casa {
  width: 50%;
  height: 26vw;
  float: left;
}

#foto-entrega {
  width: 100%;
  height: 100%;
}

#paragrafo-casa {
  width: 50%;
  float: right;
  height: 26vw;
  color: white;
  border-bottom: 2px solid #bf2708;
  border-right: 2px solid #bf2708;
}

#div-sobre-acougue-3 {
  width: 100%;
}

#titulo-atendimento {
  margin-top: 2.6vw;
  margin-left: 3vw;
  padding-bottom: 1.1vw;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  color: #CBA075;
  font-size: 1.3vw;
}

#paragrafo-atendimento-1 {
  padding-left: 2.18vw;
  line-height: 1.5vw;
  font-size: 1vw;
}

#paragrafo-atendimento-2 {
  position: relative;
  margin-top: 0.5vw;
  margin-right: 4.3vw;
  padding-left: 2.18vw;
  line-height: 1.5vw;
  font-size: 1vw;
}

#paragrafo-atendimento-3 {
  position: relative;
  margin-top: 0.5vw;
  margin-right: 4.3vw;
  padding-left: 2.18vw;
  font-size: 1vw;

}

/* section formulario */

#transicao-sobre {
  background: url(imagens/Picanha_in_naturaV2_7fc0caf7-c0b4-4649-81e4-a7f75caa0a96.png) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fundo-transicao-exoticas {
  background-color: rgba(0, 0, 0, 0.39);
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#formulario{
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #CBA075;
}

#div-formulario {
  height: auto;
  width: 90%;
  border-radius: 50px;
  border: 2px solid #bf2708;
  display: flex;
  margin-left: 3%;
  position: relative;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  max-width: 2000px;
}


#imagem-formulario {
  position: absolute;
  height: 1000px;
  width: 650px;
  margin-top: 350px;
  margin-left: 50vw;

}

.div-centraliza-formulario{
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 50px;
}

.div-nome-formulario{
  width: 600px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

 #nomeLabel{
  position: relative;
}

#nome,#email,#telefone{
  position: relative;
  width: 100%;
  height: 40px;
  
} 

/* PARTE DE CHECKBOX */
.checkbox-carnes-exóticas {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
  background: white;
}

.container-checkbox {
  display: flex;
  align-items: center;
  
  padding: 30px;
}

.paragrafo-checkbox {
  margin-left: 15px;
  font-size: 20px;
}

.checkbox-carnes-tradicionais {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50px;
  margin-left: 10px;
  cursor: pointer;
  background-color: none;
  background: white;
}

.checkbox-ambas {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50px;
  margin-left: 10px;
  cursor: pointer;
  background: white;
}

/* SELECIONAR TIPO DE CARNES  */
.container-select-itens {
  margin-left: 0px;
  padding-bottom: 30px;
}

.select-itens {
  width: 350px;
  height: 50px;
  border-radius: 20px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}

#spand-less{
  margin-left: 10%;
  margin-top: -5px;
}

.paragrafo-select-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: relative;
}

.div-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin-top: -2px;


}

.div-itens:hover {
  border: 2px solid black;
  border-radius: 20px;
  z-index: 9;
}

.container-itens {

  border-radius: 20px;
  width: 350px;
  box-shadow: 0px 10px 50px gray;
  border: 2px solid gray;
  background-color: white;

}

.esconde-itens {
  display: none;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0px 10px 50px gray;

}

/* Comunicação */

#todos {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

#primeiro {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
}

#segundo {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.container-comunicao {
  display: flex;
  align-items: center;
  justify-content: column;
  margin-left: 0px;
  padding: 20px;
}

.titulo-comunicacao {
  padding-top: 20px;
}

.div-checkbox{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 400px;
}

.checkbox-comunicacao-todos {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: white;
}

.checkbox-comunicacao-email {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-left: 20px;
  background: white;
}

.checkbox-comunicacao-sms {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-left: 20px;
  background: white;
}

.checkDesmarcado {
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background: white;
}

.paragrafo-comunicao {
  margin-left: 10px;
}

.checkMarcado {
  position: relative;
  appearance: none;
  background-color: #bbb;
  transition: all 0.3s;
  border: 2px solid rgb(120, 190, 120);
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.checkMarcado::before {
  content: '';
  position: absolute;
  border: solid #fff;
  display: block;
  width: 0.6em;
  height: 0.9em;
  border-width: 0 0.2em 0.2em 0;
  z-index: 1;
  right: calc(50% - 0.4em);
  top: calc(50% - 0.6em);
  transform: rotate(0deg);
  transition: all 0.3s;
  transform-origin: center center;
}

.checkMarcado {
  background-color: rgb(120, 190, 120);
}

.checkMarcado::before {
  opacity: 1;
  transform: rotate(405deg);
}


.checkMetade {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  appearance: none;
  background-color: #bbb;
  transition: all 0.3s;
  border: 2px solid rgb(120, 190, 120);
}

.checkMetade::before {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 2px;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.checkMetade {
  animation: a 0.3s ease-in forwards;
  background-color: rgb(120, 190, 120);
}

.checkMetade::before {
  opacity: 1;
}



.button {
  width: 500px;
  height: 50px;
  margin-top: 40px;
  position: relative;
}

/* campo texto */
.campo-texto {
  width: 500px;
  height: 200px;
  margin-top: 50px;
}

.div-text{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  margin-left: 0px;
}

/* paragrafos de aviso */

.aviso-nome {
  display: none;
  color: red;
}

.aviso-email {
  display: none;
  color: red;
}

.aviso-tel {
  display: none;
  color: red;
}

.aviso-select-carnes {
  display: none;
  color: red;
  position: relative;
}

.div-centraliza-select{
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aviso-checkbox-comunicacao {
  display: none;
  color: red;
}

.aviso-checkbox-carnes {
  display: none;
  margin-left: 18%;
  color: red;
}

.aviso-campo-texto {
  display: none;
  color: red;
}

/* section Endereço  */

#section-google-maps {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#div-google-maps {
  height: 800px;
  width: 1500px;
  border-radius: 50px;
  border: 2px solid #bf2708;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-top: 150px;
  position: relative;
}

.info-container {
  max-width: 500px;
  position: relative;
  color: #f5f5f5;
  padding-bottom: 20px;
}

#titulo-Endereco {
  background-color: #bf2708;
  width: 500px;
  height: 100px;
  text-align: center;
  margin: auto;
  position: relative;
  margin-bottom: 800px;
  color: white;
  font-style: italic;
  font-family: 'Anton', sans-serif;
  font-family: 'PT Serif', serif;
  z-index: 2;
  font-size: 40px;
}

.info-item {
  margin-top: 20px;
}

#google-maps {
  position: relative;
  margin-left: 15vw;
  display: block;
}

/* footer */

#imagem-footer {
  float: left;
  margin-top: 50px;

}



#footer-compras {
  height: 52px;
  width: 25%;
  border: 2px solid #000;
  color: white;
  position: absolute;
  margin-left: 25%;
  margin-top: 0px;
}

#titulo-compras {
  font-size: 20px;
  margin-top: 12px;
  margin-left: 15px;
  position: absolute;
}

#informacoes-compras {
  height: 502px;
  width: 25%;
  border: 2px solid #000;
  color: white;
  position: absolute;
  margin-left: 25%;
  margin-top: 50px;
}

#paragrafo-compras,
ul {
  list-style: none;
}
#paragrafo-compras,
li {
  font-size: 20px;
  padding-top: 30px;
  padding-left: 20px;

}

#footer-saiba-mais {
  height: 50px;
  width: 25%;
  border: 2px solid #000;
  color: white;
  position: relative;
  margin-left: 50%;
  margin-top: 0px;
  border-bottom: none;
}

#titulo-saiba-mais {
  font-size: 20px;
  margin-top: 12px;
  margin-left: 15px;
  position: absolute;
}

#informacoes-saibamais {
  height: 502px;
  width: 25%;
  border: 2px solid #000;
  color: white;
  position: absolute;
  margin-left: 50%;
  margin-top: 0px;
}

#saibamais-li-1 {
  padding-top: 55px;
}

#saibamais-li-2 {
  padding-top: 40px;

}

#saibamais-li-3 {
  padding-top: 45px;

}

#saibamais-li-4 {
  padding-top: 45px;

}

#div-forma-pagamento {
  height: 52px;
  width: 25%;
  color: white;
  position: absolute;
  margin-left: 75%;
  margin-top: -50px;
  border: 2px solid black;

}

#div-titulo-pagamento {
  font-size: 20px;
  margin-top: 12px;
  margin-left: 15px;
  position: absolute;

}


#informacoes-pagamento {
  height: 502px;
  width: 25%;
  border: 2px solid #000;
  color: white;
  position: absolute;
  margin-left: 75%;
  margin-top: 0px;
}

.imagem-pagamento {
  position: relative;
  margin-top: 30px;
  margin-left: 50px;
}

#redes {
  font-size: 20px;
  margin-top: 150px;
  margin-left: -2px;
  position: absolute;
  height: 50px;
  width: 100.2%;
  border: 2px solid black;
}

#redes-titulo {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

#paragrafo-redes {
  height: auto;
  width: auto;
  margin-top: 200px;
}

.imagem-rede {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

#botao-footer {
  position: absolute;
  margin-top: 300px;
  margin-left: 200px;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background-color: #000;
  color: #f5f5f5;
  
}

#email-footer {
  position: absolute;
  margin-top: 300px;
  margin-left: 0px;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  padding-left: 10px;
}

#div-imagem-footer {
  position: absolute;
  margin-left: 0px;
  width: 25%;
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 550px;
}

.flex{
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  width: 100%;
  height: 100%;
}



@media (max-width: 1868px) {

  .imagem-pagamento {
    position: relative;
    margin-top: 80px;
    margin-left: 50px;
  }

   

}

@media (max-width: 1650px) {

  .nav-list {
    display: none;
  }

  .icone-menu {
    display: flex;
    margin-left: 20px;
  }

  #container-resultado {
    margin-left: -200px;
  }

  #menu-amburguer {
    display: none;
  }

  #paragarfo-complemento-exoticas {
    font-size: 3vw;
  }

  #imagem-formulario {
    display: none;
  }

  .div-centraliza-formulario{
    width: 100%;
    margin-left: 0px;
    position: relative;
    margin-top: 0px;
  }

  #div-google-maps {
    width: 90vw;
  }

  .flex{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #div-imagem-footer{
    position: relative;
    width: 100%;
    margin-left: 0px;
  }

  #footer-compras{
    position: relative;
    width: 100%;
    margin-left: -3px;
    border-top: 4px solid black ;
  }

  #informacoes-compras{
    position: relative;
    width: 100%;
    margin-left: -1px;
    margin-top: 0px;
  }

  #footer-saiba-mais{
    position: relative;
    width: 100%;
    margin-left: -1px;
    margin-top: 0px;
    border-bottom: 2px solid black ;
  }

  #informacoes-saibamais{
    position: relative;
    width: 100%;
    margin-left: -2px;
    margin-top: 0px;
  }

  #div-forma-pagamento{
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    border-top: 2px solid black ;
    border-bottom: 2.5px solid black;
  }

  #informacoes-pagamento{
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  #redes{
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  #informacoes-pagamento{
    border-bottom: 4px solid black;
  }

   footer {
    height: 2000px;
  }

  
}

@media (max-width: 1500px) {
  #homem-segurando-porco {
    position: relative;
    margin-top: -30px;
    height: 1300px;
    width: auto;
    margin-left: -17vw;
  }
}

@media (max-width: 1400px) {
  #div-carne-flutuando {
    display: none;
  }
  
  #card-paragrado-carnes-nobres {
    width: 90%;
    margin-left: 0px;
  }

  #texto-Carnes-Nobres {
    margin-top: -150px;
    font-size: 50px;
    margin-left: -100px;
    width: auto;
    height: auto;
  }

  #paragarfo-complemento-nobres {
    position: absolute;
    font-size: 28px;
    margin-top: 200px;
    margin-left: -50px;
  } 
  
  .grid-carnes-nobres {
    width: 100%;
    max-width: 2000px;
    height: auto;
    margin-top: 280px;
    display: grid;
    grid-template-columns: 100%;
  }

}

@media (max-width: 1300px) {

  .logoSite {
    position: relative;
    margin-left: 50px;

  }

  .logo {
    position: relative;
    margin-left: -50;
  }

 

  .exoticas-grid {
    grid-template-columns: 100%;
  }

  

  #homem-segurando-porco {
    display: none;
  }

  .centraliza-formulario{
    width: 100%;
  }

  #card-paragrafo-exoticas{
    width: 90%;
  }

  .container-texte-exoticas{
    width: 100%;
  }

  #div-google-maps {
    flex-direction: column;
    padding-top: 38px;
    padding-bottom: 100px;
    height: auto;
  }

  .info-container {
    margin-left: 0px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #google-maps {
    padding-top: 9vw;
    margin-left: 20px;
    width: 65vw;
    height: 50vw;
  }
  

}

@media (max-width: 1220px) {

  #carrossel-Carnes-Exoticas {
    width: 50vw;
    height: 10vw;
  }

  #texto-Carnes-Exoticas {
    font-size: 5vw;
  }
}

@media (max-width: 955px) {
  #texto-Carnes-Nobres {
    margin-top: -300px;
    margin-left: -200px;
  }

  #paragarfo-complemento-nobres {
    position: absolute;
    font-size: 26px;
    margin-top: 160px;
    margin-left: 270px;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-right: 15px;
  }

  #bandeira-esquerda {
    width: 80px;
    height: 80px;
    margin: auto;
    z-index: 1;
    margin-right: -3px;
  }

  #titulo-carnes-nobres {
    width: 250px;
    height: 100px;
    font-size: 25px;
  }

  #borda-h2 {
    width: 225px;
    height: 85px;
  }

  #bandeira-direita {
    width: 80px;
    height: 80px;
    margin: auto;
    z-index: 1;
    margin-left: -4px;
  }

  #paragrafo-carnes-exoticas-1,
  #paragrafo-carnes-exoticas-2,
  #paragrafo-carnes-exoticas-3,
  #paragrafo-carnes-exoticas-4 {

    font-size: 20px;
  }

  .div-nome-formulario{
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .container-checkbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .paragrafo-checkbox {
    margin-left: 15px;
    font-size: clamp(12px, 2vw, 24px);
    
  }

  .div-centraliza-select{
    width: 100%;
  }

  .div-checkbox{
    width: 100%;
  }

  #checkboxLabel{
    margin-left: 7%;
  }

  .container-comunicao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .div-text{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #campo-texto{
    width: 80%;
  }

  .button{
    width: 80%;
  }

  #campo-texto-label{
    margin-left: -60%;
  }

}

@media (max-width: 800px) {

  footer {
    height: 2000px;
  }

}

@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;

}

@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }



}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

@media (max-width: 768px) {

  .logoSite {
    width: 150px;
    height: 150px;
    margin-left: 50px;

  }

  .logo {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-left: -40px;

  }

  #div-navegacao {
    margin-right: -200px;
  }

  #gerar-espaco {
    display: inline;
    width: 0px;
    height: 20px;

  }

  #iconediv {
    flex-direction: column;
    margin-left: 0px;
    height: 100px;
  }

  .icones {
    width: 20px;
    height: 20px;
    align-items: center;
    flex-direction: block;
    margin-left: 0px;
    margin-top: 10px;
  }

  #lupa {
    display: block;
    margin-left: 20px;
  }

  #searchInput {
    margin-top: 50px;
  }

  #menu-amburguer {
    display: none;
    margin-left: 0px;
    width: 100%;
  }

  .icone-menu {
    position: relative;

  }

  #paragarfo-complemento-nobres {
    font-size: 22px;
    margin-left: 230px;
  }

  #paragrafo-acougue{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  float: none;
  width: 90%;
  height: auto;
  padding-bottom: 10px;
  }

  #div-sobre-acougue-2{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  }

  #div-sobre-acougue-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  #sobre-acougue{
    float: none;
    width: 90%;
    height: 60vw;
  }


  #sobre-entrega-colum{
    position: relative;
    width: 90%;
    height: 60vw;
    display: flex;
  }

  #sobre-entrega{
    display: none;
  }

  .grid-sobre{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #paragrafo-caminhao{
    width: 90%;
    border-right: #bf2708 2px solid;
    height: auto;
  }

  #sua-casa{
    width: 90%;
    height: 60vw;
  }

  #paragrafo-casa{
    width: 90%;
    border-left: solid 2px #bf2708;
    height: auto;
  }

  #paragrafo-entrega-caminhao{
    width: 90%;
    font-size: 3vw;
    height: auto;
    position: relative;
  }

  #titulo-entregas{
    font-size: 3vw;
    height: auto;
    position: relative;
  }

  #paragrafo-acougue{
    border-left: #bf2708 solid 2px;
    border-top: none;
  }

  #paragrafo-caminhao{
    width: 90%;
    border-left: solid 2px #bf2708;
  }

  #titulo-acougue{
    font-size: 3vw;
    margin-left: 60% ;
    text-align: right;
  }

  #historia-delicias-da-carne-1 {
    font-size: 2.5vw;
    margin-right: 3%;
    padding-left: 3%;
  }
  
  #historia-delicias-da-carne-2 {
    font-size: 2.5vw;
    margin-right: 3%;
    padding-left: 3%;
  }
  
  #historia-delicias-da-carne-3 {
    font-size: 2.5vw;
    margin-right: 2.7vw;
    padding-left: 2.18vw;
  }

  #paragrafo-atendimento-1,
  #paragrafo-atendimento-2,
  #paragrafo-atendimento-3 {
    font-size: 3vw;
    padding-left: 30px;
    line-height: 5vw;
    margin-top: 0px;
  }

  #titulo-atendimento{
    font-size: 3vw;
    margin-left: 5%;
  }

}

@media (max-width: 600px) {

  .logoSite {
    width: 15vw;
    height: 15vw;
    margin-left: 10px;
  }

  .logo {
    font-size: 3vw;
  }

  #iconediv {
    margin-right: 10px;
  }

  .icones {
    width: 3vw;
    height: 3vw;
  }

  #carrinho {
    width: 3.5vw;
    height: 3.5vw;
  }

  #texto-Carnes-Nobres {
    margin-top: -350px;
    font-size: 30px;
    margin-left: -40px;
    transform: translate(-50%, -50%);
  }

  #carrossel-entrega {
    font-size: 2vw;
  }

  #paragrafo-entrega {
    font-size: 1.3vw;
    top: 50%;
  }

  #paragarfo-complemento-nobres {
    position: absolute;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 150px;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-right: 15px;
  }

  #paragarfo-complemento-exoticas {

    margin-top: 80%;
  }

  .grid-cars-exoticas {
    grid-template-columns: repeat(auto-fill, 400px);
  }


}

@media (min-width: 2000px) {


  #imagem-formulario{
    margin-left: 1200px;
  }

  #paragrafo-entrega {
    width: 500px;
    margin-top: 100px;
    margin-left: 180px;
    font-size: 25px;
  }

  #carrossel-entrega {
    font-size: 35px;
    margin-left: 180px;
    margin-top: 50px;
    width: 500px;

  }

  #centraliza-carrossel-entrega {
    width: 2000px;
    margin-left: -4909px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #paragarfo-complemento-exoticas {
    font-size: 50px;
  }

  #texto-Carnes-Exoticas {
    font-size: 55px;
  }

  #carrossel-Carnes-Exoticas {
    position: absolute;
    margin-left: 100px;
    margin-top: 200px;
    top: 0%;
    left: 0%;
    transform: translate(50%, 50%);
  }

  #homem-segurando-porco {
    margin-left: 0px;
  }

  #titulo-acougue {
    font-size: 30px;
    margin-right: 60px;
    position: relative;
  }

  #titulo-atendimento {
    font-size: 35px;
    margin-left: 50px;
    padding-bottom: 10px;
    margin-top: 50px;
  }

  #titulo-entregas {
    font-size: 35px;
    margin-top: 70px;
    margin-left: 90px;
    position: relative;
  }

  

  #paragrafo-entrega-caminhao {
    position: absolute;
    font-size: 27px;
    padding-left: 30px;
    margin-left: 60px;
    margin-top: 50px;
  }

  #historia-delicias-da-carne-1 {
    font-size: 25px;
    position: relative;
    margin-right: 60px
    
  }
  
  #historia-delicias-da-carne-2 {
    position: relative;
    font-size: 25px;
    margin-right: 60px
  }
  
  #historia-delicias-da-carne-3 {
    position: relative;
    font-size: 25px;
    margin-right: 60px
  }

  #paragrafo-atendimento-1,
  #paragrafo-atendimento-2,
  #paragrafo-atendimento-3 {
    font-size: 27px;
    padding-left: 30px;
    line-height: 40px;
    margin-top: 0px;
    position: relative;
  }

  #sobre-acougue {
    height: 600px;
  }

  #paragrafo-acougue {
    height: 600px;
  }

  #paragrafo-caminhao {
    height: 600px;
    font-size: 27px;
    margin-left: 0px;
    
  }

  #sobre-entrega {
    height: 600px;
  }

  #div-sobre-acougue-3 {
    height: 600px;
  }

  #foto-entrega {
    height: 600px;
  }

  #paragrafo-casa {
    height: 600px;
    font-size: 2px;
  }

  #google-maps {
    margin-left: 300px;
  }

}