*{
    padding: none;
    margin: none;
    overflow-x: hidden;
    
}
body{
    overflow-x: hidden;
}

h1{
    position: absolute;
    color: white;
    font-size: 100px;
    left: 300px;
    margin-top: 250px;
}
h2{
    position: absolute;
    color: white;
    font-size: 40px;
    left: 300px;
    margin-top: 400px;
}

#paragrafo-esqueceu-senha{
    position: absolute;
    top: 300px;
    color: rgb(255, 255, 255);
    left: 125px;
    border-bottom: 2px solid white;
}

#paragrafo-inscricao{
    position: absolute;
    top: 400px;
    color: white;
    left: 119px;
    
    border-bottom: 2px solid white;
}

.card {
    width: 400px;
    height: 550px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    position: absolute;
    top: 50%; /* centraliza verticalmente */
    left: 75vw; /* centraliza horizontalmente */
    transform: translate(-50%, -50%); /* centraliza completamente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }
  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  #emailLabel{
    color: white;
    left: 13%;
    top: 80px;
    position: absolute;
  }
  
  #email::placeholder {
    color: white; 
    position: absolute;
}
#senha::placeholder {
    color: white; 
    position: absolute;
}

#senha{
    margin-top: 200px;
}

body{
    width: 100%;
    height: 100%;
    background-image: url("space-124833324.png");
    background-size: cover; /* Para dimensionar a imagem para cobrir todo o elemento */
    background-position: center; /* Para centralizar a imagem no elemento */
    background-repeat: repeat;
    background-position: 50% -0%;
}

#senhaLabel {
    top: 180px;
    color: white;
    left: 12%;
    position: absolute;
}

  .input {
    position: absolute;
    left: 12%; 
    margin-top: 100px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #7d7ae0;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    width: 70%;
    
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.03);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }